**1. MENGIMPORT LIBRARY PYTHON YANG DIBUTUHKAN**

In [ ]:
# Untuk pengolahan data
import pandas as pd
import numpy as np
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans


# Untuk visualisasi data
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
sns.set_palette('Set1')
sns.set()

# Untuk pemodelan
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

# Untuk menghilangkan warnings saat plotting seaborn
import warnings
warnings.filterwarnings('ignore')

# Untuk mengupload file
import os

**2. MENYIAPKAN DATASET YANG AKAN DIGUNAKAN**

In [ ]:
from google.colab import files
upload = files.upload()

Saving Rekomendasi_Tourguide.csv to Rekomendasi_Tourguide (2).csv

In [ ]:
tour=pd.read_csv("Rekomendasi_Tourguide.csv",sep=';')
tour

,id_tourguide,name,experience_years,city,rating,price
0,1,Anisa Suryanto,5,Yogyakarta,4.8,500.0
1,2,Budi Santoso,3,Yogyakarta,4.7,550.0
2,3,Cindy Lim,4,Yogyakarta,4.5,500.0
3,4,Dharma Putra,4,Yogyakarta,4.7,550.0
4,5,Elisa Tan,6,Surabaya,4.6,700.0
...,...,...,...,...,...,...
147,148,Yudi Wijaya,5,Pasuruan,4.7,750.0
148,149,Siti Rahayu,7,Probolinggo,4.5,550.0
149,150,Rudi Wijaya,4,Probolinggo,4.8,600.0
150,151,Maya Santoso,6,Probolinggo,4.7,700.0
151,152,Dina Nugroho,3,Probolinggo,4.2,500.0

**3. DATA UNDERSTANDING**

In [ ]:
tour.head(5)

   id_tourguide            name  experience_years        city  rating  price
0             1  Anisa Suryanto                 5  Yogyakarta     4.8  500.0
1             2    Budi Santoso                 3  Yogyakarta     4.7  550.0
2             3       Cindy Lim                 4  Yogyakarta     4.5  500.0
3             4    Dharma Putra                 4  Yogyakarta     4.7  550.0
4             5       Elisa Tan                 6    Surabaya     4.6  700.0

In [ ]:
tour.shape

(152, 6)

In [ ]:
tour.isnull().sum()

id_tourguide        0
name                0
experience_years    0
city                0
rating              0
price               0
dtype: int64

In [ ]:
tour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_tourguide      152 non-null    int64
 1   name              152 non-null    object
 2   experience_years  152 non-null    int64
 3   city              152 non-null    object
 4   rating            152 non-null    float64
 5   price             152 non-null    float64
dtypes: float64(2), int64(2), object(2)
memory usage: 7.2+ KB

In [ ]:
tour.describe

<bound method NDFrame.describe of      id_tourguide            name  experience_years         city  rating  \
0               1  Anisa Suryanto                 5   Yogyakarta     4.8
1               2    Budi Santoso                 3   Yogyakarta     4.7
2               3       Cindy Lim                 4   Yogyakarta     4.5
3               4    Dharma Putra                 4   Yogyakarta     4.7
4               5       Elisa Tan                 6     Surabaya     4.6
..            ...             ...               ...          ...     ...
147           148     Yudi Wijaya                 5     Pasuruan     4.7
148           149     Siti Rahayu                 7  Probolinggo     4.5
149           150     Rudi Wijaya                 4  Probolinggo     4.8
150           151    Maya Santoso                 6  Probolinggo     4.7
151           152    Dina Nugroho                 3  Probolinggo     4.2

     price
0    500.0
1    550.0
2    500.0
3    550.0
4    700.0
..     ...
147  750.0
148  550.0
149  600.0
150  700.0
151  500.0

[152 rows x 6 columns]>

In [ ]:
# Konversi kolom 'price' ke tipe data numerik
tour['price'] = pd.to_numeric(tour['price'], errors='coerce')
# Menambahkan dua digit nol di depan kolom 'price'
tour['price'] = tour['price'].apply(lambda x: '{:.3f}'.format(x))
print(tour)

     id_tourguide            name  experience_years         city  rating  \
0               1  Anisa Suryanto                 5   Yogyakarta     4.8
1               2    Budi Santoso                 3   Yogyakarta     4.7
2               3       Cindy Lim                 4   Yogyakarta     4.5
3               4    Dharma Putra                 4   Yogyakarta     4.7
4               5       Elisa Tan                 6     Surabaya     4.6
..            ...             ...               ...          ...     ...
147           148     Yudi Wijaya                 5     Pasuruan     4.7
148           149     Siti Rahayu                 7  Probolinggo     4.5
149           150     Rudi Wijaya                 4  Probolinggo     4.8
150           151    Maya Santoso                 6  Probolinggo     4.7
151           152    Dina Nugroho                 3  Probolinggo     4.2

       price
0    500.000
1    550.000
2    500.000
3    550.000
4    700.000
..       ...
147  750.000
148  550.000
149  600.000
150  700.000
151  500.000

[152 rows x 6 columns]

**4. CLUSTERING BERDASARKAN CITY**

In [ ]:
# Pilih fitur yang ingin digunakan
features = ['experience_years', 'price']

# Lakukan clustering untuk setiap kota
for city in cities:
    city_data = tour[tour['city'] == city]

    # Hapus kolom 'name' dan 'city' sebelum clustering
    city_data = city_data.drop(['city'], axis=1)

    # Konversi kolom 'rating' menjadi numerik jika belum
    city_data['rating'] = pd.to_numeric(city_data['rating'], errors='coerce')

    # Hapus baris yang memiliki nilai NaN
    city_data = city_data.dropna(subset=features + ['rating'])

    # Inisialisasi model K-Means
    kmeans = KMeans(n_clusters=3)  # Ganti jumlah cluster sesuai kebutuhan

    # Latih model
    kmeans.fit(city_data[features])

    # Tampilkan hasil clustering
    print(f'Location Tourguide in {city}:')
    print(city_data[['name', 'experience_years', 'rating', 'price']])
    print('\n')

Location Tourguide in Yogyakarta:
             name  experience_years  rating    price
0  Anisa Suryanto                 5     4.8  500.000
1    Budi Santoso                 3     4.7  550.000
2       Cindy Lim                 4     4.5  500.000
3    Dharma Putra                 4     4.7  550.000


Location Tourguide in Surabaya:
            name  experience_years  rating    price
4      Elisa Tan                 6     4.6  700.000
5  Faisal Rahman                 5     4.2  600.000
6    Gita Wijaya                 4     4.5  650.000
7  Hanif Pratama                 6     4.8  700.000


Location Tourguide in Jakarta Barat:
            name  experience_years  rating    price
8   Indah Kusuma                 7     4.8  800.000
9    Joko Susilo                 4     4.4  700.000
10  Karina Putri                 6     4.9  900.000
11  Lukman Harun                 5     4.7  750.000


Location Tourguide in Bandung:
              name  experience_years  rating    price
12    Dian Pratiwi                 5     4.5  550.000
13     Fajar Utomo                 4     4.8  600.000
14      Ratna Sari                 6     4.7  700.000
15  Sugeng Santoso                 3     4.2  500.000


Location Tourguide in Malang:
              name  experience_years  rating    price
16  Rini Handayani                 7     4.9  750.000
17     Adi Nugroho                 5     4.6  600.000
18     Yuli Widodo                 4     4.3  550.000
19      Eka Wijaya                 6     4.7  700.000


Location Tourguide in Solo:
              name  experience_years  rating    price
20  Siti Nurhayati                 7     4.8  800.000
21  Ahmad Setiawan                 4     4.4  650.000
22   Rina Fitriani                 6     4.9  900.000
23    Joko Pramono                 5     4.7  750.000


Location Tourguide in Semarang:
               name  experience_years  rating    price
24  Hendro Setiawan                 5     4.5  550.000
25    Sinta Pratiwi                 4     4.8  600.000
26     Rudi Santoso                 6     4.7  700.000
27       Eva Wijaya                 3     4.2  500.000


Location Tourguide in Cirebon:
                name  experience_years  rating    price
28     Putra Nugroho                 7     4.9  750.000
29    Sari Handayani                 5     4.6  600.000
30   Bambang Pramono                 4     4.3  550.000
31     Dini Setiawan                 6     4.7  700.000
100     Ahmad Kusuma                 7     4.8  800.000
101    Rina Setiawan                 4     4.4  650.000
102      Dwi Pratiwi                 6     4.9  900.000
103      Yudi Wijaya                 5     4.7  750.000


Location Tourguide in Tegal:
                name  experience_years  rating    price
32      Ahmad Kusuma                 7     4.8  800.000
33       Rina Wijaya                 4     4.4  650.000
34      Joko Setiadi                 6     4.9  900.000
35   Siska Pramudita                 5     4.7  750.000
124     Ahmad Kusuma                 7     4.8  800.000
125    Rina Setiawan                 4     4.4  650.000
126      Dwi Pratiwi                 6     4.9  900.000
127      Yudi Wijaya                 5     4.7  750.000


Location Tourguide in Cilacap:
              name  experience_years  rating    price
36  Surya Setiawan                 5     4.5  550.000
37     Rini Wijaya                 4     4.8  600.000
38     Dwi Santoso                 6     4.7  700.000
39   Eka Handayani                 3     4.2  500.000


Location Tourguide in Purwokerto:
             name  experience_years  rating    price
40   Bayu Nugroho                 7     4.9  750.000
41  Ratna Pratiwi                 5     4.6  600.000
42   Sigit Wijaya                 4     4.3  550.000
43        Faliana                 6     4.7  700.000


Location Tourguide in Sukabumi:
             name  experience_years  rating    price
44  Rini Setiawan                 5     4.5  550.000
45  Surya Pratiwi                 4     4.8  600.000
46          Putri                 6     4.7  700.000
47    Eva Nugroho                 3     4.2  500.000


Location Tourguide in Kuningan:
               name  experience_years  rating    price
48  Ahmad Handayani                 7     4.9  750.000
49     Ratna Wijaya                 5     4.6  600.000
50    Sigit Pratiwi                 4     4.3  550.000
51    Budi Setiawan                 6     4.7  700.000


Location Tourguide in Tasikmalaya:
               name  experience_years  rating    price
52       Eka Kusuma                 7     4.8  800.000
53    Rina Setiawan                 4     4.4  650.000
54  Surya Pramudita                 6     4.9  900.000
55      Dewi Wijaya                 5     4.7  750.000


Location Tourguide in Purwakarta:
              name  experience_years  rating    price
56  Diana Setiawan                 5     4.5  550.000
57    Rudi Santoso                 4     4.8  600.000
58     Eva Pratiwi                 6     4.7  700.000
59    Budi Nugroho                 3     4.2  500.000


Location Tourguide in Cikarang:
             name  experience_years  rating    price
60   Anita Kusuma                 7     4.9  750.000
61  Rendra Wijaya                 5     4.6  600.000
62   Maya Pratiwi                 4     4.3  550.000
63  Ferry Santoso                 6     4.7  700.000


Location Tourguide in Purbalingga:
              name  experience_years  rating    price
64    Ratna Kusuma                 7     4.8  800.000
65   Arif Setiawan                 4     4.4  650.000
66  Dina Pramudita                 6     4.9  900.000
67      Eko Wijaya                 5     4.7  750.000


Location Tourguide in Jakarta Pusat:
            name  experience_years  rating    price
68   Siti Rahayu                 5     4.5  550.000
69  Rudi Santoso                 4     4.8  600.000
70   Eva Pratiwi                 6     4.7  700.000
71  Budi Nugroho                 3     4.2  500.000


Location Tourguide in Jakarta Selatan:
             name  experience_years  rating    price
72   Anita Kusuma                 7     4.9  750.000
73  Rendra Wijaya                 5     4.6  600.000
74   Maya Pratiwi                 4     4.3  550.000
75  Ferry Santoso                 6     4.7  700.000


Location Tourguide in Jakarta Timur:
              name  experience_years  rating    price
76    Ratna Kusuma                 7     4.8  800.000
77   Arif Setiawan                 4     4.4  650.000
78  Dina Pramudita                 6     4.9  900.000
79      Eko Wijaya                 5     4.7  750.000


Location Tourguide in Jakarta Utara:
              name  experience_years  rating    price
80  Surya Setiawan                 7     4.5  550.000
81    Rini Pratiwi                 4     4.8  600.000
82    Dian Santoso                 6     4.7  700.000
83     Eva Nugroho                 3     4.2  500.000


Location Tourguide in Banjar:
             name  experience_years  rating    price
84  Dian Setiawan                 5     4.5  550.000
85   Rudi Santoso                 4     4.8  600.000
86    Eva Pratiwi                 6     4.7  700.000
87   Budi Nugroho                 3     4.2  500.000


Location Tourguide in Bogor:
             name  experience_years  rating    price
88   Anita Kusuma                 7     4.9  750.000
89  Rendra Wijaya                 5     4.6  600.000
90   Maya Pratiwi                 4     4.3  550.000
91  Ferry Santoso                 6     4.7  700.000


Location Tourguide in Bekasi:
              name  experience_years  rating    price
92    Ratna Kusuma                 7     4.8  800.000
93   Arif Setiawan                 4     4.4  650.000
94  Dina Pramudita                 6     4.9  900.000
95      Eko Wijaya                 5     4.7  750.000


Location Tourguide in Cimahi:
              name  experience_years  rating    price
96  Surya Setiawan                 7     4.5  550.000
97    Rini Pratiwi                 4     4.8  600.000
98          Melani                 6     4.7  700.000
99     Eva Nugroho                 3     4.2  500.000


Location Tourguide in Depok:
             name  experience_years  rating    price
104   Siti Rahayu                 7     4.5  550.000
105   Rudi Wijaya                 4     4.8  600.000
106  Maya Santoso                 6     4.7  700.000
107  Dina Nugroho                 3     4.2  500.000


Location Tourguide in Magelang:
              name  experience_years  rating    price
108  Rini Setiawan                 5     4.5  550.000
109   Rudi Santoso                 4     4.8  600.000
110    Eva Pratiwi                 6     4.7  700.000
111   Budi Nugroho                 3     4.2  500.000


Location Tourguide in Pekalongan:
              name  experience_years  rating    price
112   Anita Kusuma                 7     4.9  750.000
113  Rendra Wijaya                 5     4.6  600.000
114   Maya Pratiwi                 4     4.3  550.000
115  Ferry Santoso                 6     4.7  700.000


Location Tourguide in Salatiga:
               name  experience_years  rating    price
116    Ratna Kusuma                 7     4.8  800.000
117   Arif Setiawan                 4     4.4  650.000
118  Dina Pramudita                 6     4.9  900.000
119      Eko Wijaya                 5     4.7  750.000


Location Tourguide in Surakarta:
               name  experience_years  rating    price
120  Surya Setiawan                 7     4.5  550.000
121    Rini Pratiwi                 4     4.8  600.000
122    Dian Santoso                 6     4.7  700.000
123     Eva Nugroho                 3     4.2  500.000


Location Tourguide in Batu:
         name  experience_years  rating    price
128   Filipus                 5     4.5  550.000
129   Kenneth                 4     4.8  600.000
130  Anderson                 6     4.7  700.000
131     Willi                 3     4.2  500.000


Location Tourguide in Kediri:
               name  experience_years  rating    price
132   Rahmat Lingga                 7     4.9  750.000
133  Rangga Permana                 5     4.6  600.000
134        Gabriel                  4     4.3  550.000
135    Ferry Carlos                 6     4.7  700.000


Location Tourguide in Madiun:
          name  experience_years  rating    price
136     Daniel                 7     4.8  800.000
137  Arif Dede                 4     4.4  650.000
138      Dimas                 6     4.9  900.000
139     Dennis                 5     4.7  750.000


Location Tourguide in Mojokerto:
              name  experience_years  rating    price
140  Denny Sumargo                 7     4.5  550.000
141         Cellos                 4     4.8  600.000
142          Mamat                 6     4.7  700.000
143    Tri Mulyana                 3     4.2  500.000


Location Tourguide in Pasuruan:
             name  experience_years  rating    price
144   Ade Mulyana                 7     4.8  800.000
145        Ridwan                 4     4.4  650.000
146  Rizal Bakhri                 6     4.9  900.000
147   Yudi Wijaya                 5     4.7  750.000


Location Tourguide in Probolinggo:
             name  experience_years  rating    price
148   Siti Rahayu                 7     4.5  550.000
149   Rudi Wijaya                 4     4.8  600.000
150  Maya Santoso                 6     4.7  700.000
151  Dina Nugroho                 3     4.2  500.000